{% load staticfiles %}
<br /><br /><br /><br />
<hr>

<footer>
    <div class="row">
        <div class="container" style="font-size: 18px;">
            <i>
                <div class="col-sm-3 col-md-3">
                    <ul style="list-style: none;">
                        <li><b>Dooplace</b></li>
                        <li>Restaurants</li>
                        <li>Offices</li>
                        <li>Houses</li>
                    </ul>
                </div>
                <div class="col-sm-3 col-md-3">
                    <ul style="list-style: none;">
                        <li><b>Houses</b></li>
                        <li>Entire Place</li>
                        <li>Shared Room</li>
                        <li>Private Room</li>
                    </ul>
                </div>
                <div class="col-sm-3 col-md-3">
                    <ul style="list-style: none;">
                        <li><b>Restaurant</b></li>
                        <li>Indian</li>
                        <li>Chinese</li>
                        <li>American</li>
                    </ul>
                </div>
            </i>
            <div class="col-sm-3 col-md-3">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter" style="margin-left: 20px;"></i>
                <i class="fab fa-linkedin-in" style="margin-left: 20px;"></i>
                <br /><br />
                Dooplace <i class="far fa-copyright"></i> 2018
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'js/jssor.slider-27.1.0.min.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript">jssor_1_slider_init();</script>
<script src="{% static 'assets/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.backstretch.min.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/retina-1.1.0.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints.min.js' %}"></script>
<script src="{% static 'js/lightbox-plus-jquery.js' %}"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<script src="{% static 'js/card.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
</script>
</body>

</html>